body
{
   background-color: olive;
   max-width:  900px;
   margin:auto;
}


p

{
   
color:rgb(2, 54, 25);
font-weight: bold;
font-size: 20px;
font-family: cursive; 



}
img

{

content:url("shrek2.jpg");


}
